<h1> Researchers </h1>
<body>

<% def inferno() %>
<%  cages = Cage.all %>
<%  cages.each do |cage| %>
<%  if cage.user.nil?  %>
<%    cage.animals.each do |animal| %>
<%        animal.delete %>
<%    end %>
<%  cage.delete %>
<%  end %>
<% end %>
<% end %>

<% inferno %>
 
 <div class="address-bar"><%= link_to 'Welcome to Cage Builder', root_path %></div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Quick Links:</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a <%= link_to 'Researchers', all_path %> </a>
                    </li>
                    <li>
                        <a <%= link_to 'My Cages', controller: 'cages' %> </a>
                    </li>
                    <li>
                         <a <%= link_to 'Add Cage', new_cage_path(current_user) %> </a>

                    </li>
                   <!--  <li>
                        <a href="contact.html">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    
    <h1 class="brand-name">Researchers</h1>
    <hr class="tagline-divider">
                    
    <p> 
        <%= form_tag all_path, method: :get do |f| %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Search" %>
        <% end %> 
    </p>

        <% @users.each do |user| %>
        <p><%= link_to user.email, cages_personal_path(user) %></p>
	    <% end %>

	    <%= link_to 'Back', :back %>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h3> Total Researchers: <%= User.count %> </h3> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h3> Total Cages: <%= Cage.count %> </h3>
            </div>
        </div>
    </div>
    </div>
 </body>









